In [1]:
import pandas as pd 
import numpy as np 
from sklearn.feature_extraction.text import CountVectorizer 
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:

with open('SMSSpamCollection.txt','r') as file: 
    data = file.read()

In [3]:
temp = data.split('\n')

In [4]:

print("No. of emails : ",len(temp) )

No. of emails :  5575

In [5]:
x = [] 
y = [] 
for email_with_label in temp: 
    temp_emails = email_with_label.split('\t') 
    if len(temp_emails) == 2 : 
        x.append(temp_emails[1])
        y.append(temp_emails[0])

In [6]:
len(x),len(y)

(5574, 5574)

In [7]:
dt = {'email_message':x,"label":y}
email_data = pd.DataFrame(dt)
email_data.head()

                                       email_message label
0  Go until jurong point, crazy.. Available only ...   ham
1                      Ok lar... Joking wif u oni...   ham
2  Free entry in 2 a wkly comp to win FA Cup fina...  spam
3  U dun say so early hor... U c already then say...   ham
4  Nah I don't think he goes to usf, he lives aro...   ham

In [8]:
email_data['label'].value_counts()

label
ham     4827
spam     747
Name: count, dtype: int64

In [9]:
spam = email_data[email_data['label']=='spam']
ham = email_data[email_data['label']=='ham']

In [10]:
spam.shape

(747, 2)

In [11]:
ham.shape

(4827, 2)

In [12]:
ham = ham.sample(1000)

In [13]:
spam.shape , ham.shape

((747, 2), (1000, 2))

In [14]:
final_df=pd.concat([ham,spam],axis=0)

In [15]:
final_df.head()

                                          email_message label
4566  Honeybee Said: *I'm d Sweetest in d World* God...   ham
196                        Gud mrng dear hav a nice day   ham
1352                     Yo theres no class tmrw right?   ham
1184             Am i that much bad to avoid like this?   ham
5064               Ok i also wan 2 watch e 9 pm show...   ham

In [16]:
final_df.shape

(1747, 2)

In [17]:
import re

In [18]:
final_df.reset_index(drop=True,inplace=True)

In [ ]:
final_df['email_message'][25]

'Another month. I need chocolate weed and alcohol.'

In [20]:
for i in range(len(final_df)): 
    final_df['email_message'][i] = re.sub('[^a-zA-Z ]','',final_df['email_message'][i]).lower()

C:\Users\tumha\AppData\Local\Temp\ipykernel_13308\622084000.py:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  final_df['email_message'][i] = re.sub('[^a-zA-Z ]','',final_df['email_message'][i]).lower()

In [21]:
final_df.head()

                                       email_message label
0  honeybee said im d sweetest in d world god lau...   ham
1                       gud mrng dear hav a nice day   ham
2                      yo theres no class tmrw right   ham
3              am i that much bad to avoid like this   ham
4                    ok i also wan  watch e  pm show   ham

In [22]:
labels = list(final_df['label'])
temp_labels = [1 if item =="spam" else 0 for item in labels]
final_df['label'] = temp_labels

In [23]:
final_df.head()

                                       email_message  label
0  honeybee said im d sweetest in d world god lau...      0
1                       gud mrng dear hav a nice day      0
2                      yo theres no class tmrw right      0
3              am i that much bad to avoid like this      0
4                    ok i also wan  watch e  pm show      0

In [24]:

x = final_df['email_message']
y = final_df['label']

In [25]:
x = x.values

In [26]:
bow_obj = CountVectorizer(max_features=1500,stop_words='english')

In [27]:
X =  bow_obj.fit_transform(x)

In [28]:
x

array(['honeybee said im d sweetest in d world god laughed amp said waitu havnt met d person reading this msg moral even god can crack jokes gmgngegn',
       'gud mrng dear hav a nice day', 'yo theres no class tmrw right',
       ...,
       'had your contract mobile  mnths latest motorola nokia etc all free double mins  text on orange tariffs text yes for callback no to remove from records',
       'reminder from o to get  pounds free call credit and details of great offers pls reply  this text with your valid name house no and postcode',
       'this is the nd time we have tried  contact u u have won the  pound prize  claim is easy call  now only p per minute btnationalrate'],
      dtype=object)

In [29]:
X.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])